
$color_blue:#1EACC7;
$color_pink:#FF5656;

@mixin btn_hover(){
  &:hover{
    background-image: none;
    background-color:$color_blue;
  }
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

header {
  position: relative;
 
}

nav {
  height: 50px;
  background: #353333;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 71px;
  margin: 0;
  list-style-type: none;

  .menu__link {
    text-decoration: none;

    /* text-transform: uppercase; */
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    color: #fff;
  }

  .menu__item {
    margin: 0 auto;
    border-right: 3px dotted black;
    padding-right: 40px;
  }
}

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 87px;
  background-color: rgba(0, 0, 0, 0.6);

  &__logo {
    display: block;
    margin-top: 19px;
    max-width: 100%;
  }

  &__official {
    margin-top: 6px;
    opacity: .5;
    font-weight: 300;
    font-size: 13px;
    color: #fff;
  }

  &__call {
    margin-top: 19px;

    /* max-width: 166px; */
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    color: #fff;
  }

  &__tel {
    display: block;
    margin-top: 8px;

    /* max-width: 187px; */
    font-weight: 400;
    font-size: 22px;
    text-align: right;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    line-height: 12px;
  }

  &__btn {
    margin: 19px 0  19px;
    width: 172px;
    height: 52px;
    background-image: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(10, 10, 10, 0.12);
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    border: none;
    @include btn_hover()
  }
}

.promo {
  min-height: 799px;
  background: url('../img/one_uber_bg.jpg') center (center / cover) no-repeat;
  padding: 150px 185px;
  

  &__header {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    margin-top: 56px;
  }

  &__subheader {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    margin-top: 22px;
  }

  &__descr {
    width: 990px;

    /* padding: 0 2px; */
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    margin-top: 16px;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    width: 259px;
    height: 63px;
    background-image: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 63px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    margin-top: 116px;
    @include btn_hover()
  }
}

// Section causes

.causes {
  padding: 48px 0 64px 0;
//   display: none;

}

.label {
  position: relative;
  margin: 0 auto;
//   margin-top: 27px;
  width: 113px;
  height: 24px;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  line-height: 25px;
  z-index: 2;
  &__white{
    background-color: #fff;
    color: #000;
  }
}



.title {
  position: relative;
  margin-top: 33px;
  text-align: center;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-transform: uppercase;
  color: #222;
  z-index: 2;
  &__white{
    color:#fff;
  }
 
}

.subtitle {
  position: relative;
  font-weight: 400;
  text-align: center;
  line-height: 21px;
  color:#222222;
  z-index: 2;
  &__white{
    color:#fff;
  }

}

.causes .causes__block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 26px;

  .causes__round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    width: 116px;
    height: 116px;
    background-color: #1EACC7;
    border-radius: 100%;
  }

  .causes__descr {
    width: 341px;
  }

  .causes__subtitle {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: $color_blue;
  }

  .causes__text {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
  }
}

// Section Mobile app
.mobile {
    min-height: 864px;
    padding: 48px 0 80px 0;
    background: url('../img/mobile_bg.jpg') center center/cover no-repeat;
    .row{
        margin-top: 30px;
    }
    &__item{
        position: relative;
        width: 320px;
        height: 280px;
        margin: 0 auto;
        margin-bottom: 19px;
        padding-top: 83px;
        cursor: pointer;
       
       
       
        &-1{
            background: url('../img/mobile/cart_1.png')center center/cover no-repeat;
            
           
        }
        &-2{
            background: url('../img/mobile/cart_2.png')center center/cover no-repeat;
        }
        &-3{
            background: url('../img/mobile/cart_3.png')center center/cover no-repeat;
        }
        &-4{
            background: url('../img/mobile/cart_4.png')center center/cover no-repeat;
        }
        &-5{
            background: url('../img/mobile/cart_5.png')center center/cover no-repeat;
        }
        &-6{
            background: url('../img/mobile/cart_6.png')center center/cover no-repeat;
        }
      

    }
    &__subtitle{
        font-weight: 400;
        font-size: 24px;
        line-height: 31px;
        text-align: center;
        text-transform: uppercase;
        color:#fff;
    }
    &__plus{
        position: absolute;
        left:50%;
        transform: translateX(-50%);
        bottom:34px;
        width: 29px;
        height: 29px;
        background:#000;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        cursor: pointer;
       &:before {
         content: '' ;
         display: block;
         width: 14px;
         height: 2px;
         background-color: $color_blue;
         transition: 0.3s all;
       }
       &:after{
         position: absolute;
         left: 50%;
         content:'';
         display: block;
         height: 14px;
         width: 2px;
         background-color:$color_blue;
         transform: translateX(-50%);
         transition: 0.3s all;
        }
        &:hover{
          &:before,
          &:after{
            background-color: $color_pink;
          }
        }
       
      
    }
}

.choice {
  position: relative;
  min-height: 898px;
  background:url('../img/choice_bg.png') center center/cover no-repeat;
  padding: 57px 0 137px 0;

  &__img {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 54px;
    z-index: 2;
  }

  &__descr{
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #222222;
  }

  .black {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    min-height: 502px;
    background-color: #070716;
    z-index: 1;

  }
}

// Section Require
.require{
  padding: 68px 0 90px 0;
  
  &__block{
    margin: 33px 0;
    &-nmb{
      margin-bottom: 0;
     
      
    }
  }
  &__title{
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color:$color_blue;
   
  }

  &__list-items{
  
    margin-top: 20px;
    list-style-type: none;
    padding-left:50px;
    li{
      position: relative;
      font-weight: 300;
      font-size: 17px;
      line-height: 24px;
      margin-bottom: 10px;
      &:before{
        content:'';
        display:block;
        position: absolute;
        top:3px;
       
        left:-32px;
        width: 21px;
        height: 20px;
        background:url('../icons/check_blu.png') center center /cover no-repeat;

      }
    }
  }
  &__descr{
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: #1CA8C3;

  }

  .attention{
    .require__title{
      color:$color_pink;
    }
    .require__list-items{
      li{
        &:before{
         
          background:url('../icons/check_pink.png') center center /cover no-repeat;
  
        }
      }
    }
  }

}

.allworld {
  position: relative;
  background: url('../img/world_bg.png')center center/ cover no-repeat;
  min-height: 720px;
  padding: 50px 0 ;
  &__link{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: 50px;
    font-weight: 400;
    font-size: 15px;
    line-height: 68px;
    text-align: center;
    text-transform: uppercase;
    color:#1FBAD6;
    &:hover{
      text-decoration: none;
      color:#fff;
    }
}
.label__min{
  width: 79px;
  height: 27px;
  font-weight: 400;
  font-size: 11px;
  line-height: 27px;

}




}







